fastapi==0.115.6
uvicorn[standard]==0.34.0
pyserial==3.5
websockets==14.1
pysnmp>=7.1.0
bcrypt==4.1.2
passlib[recommended]==1.7.4
python-multipart==0.0.9
cryptography==42.0.5
psycopg2-binary==2.9.9
slowapi==0.1.9
sqlalchemy
